{% extends 'teacher/teacher_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Find Your School' %}{% endblock %}

{% block body %}
<h2>{% trans 'Find Your School' %}</h2>
  {% trans 'Showcase can search for schools in the United States if you fill in one or more fields below. You do not need to enter everything!' %}
  <br>
  {% trans 'If your school is located in another country or cannot be found by search, you can add it manually by clicking ' %}<a href='{% url "teacher:addSchool" %}'>{% trans 'here' %}</a>.
  <form id='school_search_form' action='{% url "teacher:schoolSearch" %}' method='post'>
    {% csrf_token %}
    {{ form|crispy }}
    <button type='submit' id='submit_form_btn' class='btn btn-primary'>{% trans 'Search' %}</button>
  </form>
  <br>
  {% if error %}
    {{ error }}
    {% trans 'You can add your school manually by clicking ' %}<a href='{% url "teacher:addSchool" %}'>{% trans 'here' %}</a>.
  {% endif %}
  {% if schools %}
    <script>window.location.hash = '#id_state'</script>
    <ul>
    {% for school in schools|dictsort:'name' %}
      <li><a href='{% url "teacher:schoolDetails" school.id %}'><b>{{ school.name }}</b> - {{ school.address }}, {{ school.city }}, {{ school.state }} {{ school.zip }}</a></li>
    {% endfor %}
    </ul>
    {% trans 'Don\'t see your school? Only the first 100 results are returned, so try narrowing your search down. If you still can\'t find it, you can add your school manually by clicking ' %}<a href='{% url "teacher:addSchool" %}'>{% trans 'here' %}</a>.
  {% else %}
    {% trans 'Don\'t see your school? You can add your school manually by clicking ' %}<a href='{% url "teacher:addSchool" %}'>{% trans 'here' %}</a>.
  {% endif %}
  <br>
{% endblock %}