{% extends 'teacher/teacher_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block body %}
  <form id='settings_form' action='{% url "teacher:settings" %}' method='post'>
    {% csrf_token %}
    {{ form|crispy }}
    {% if school %}
      {% url "teacher:schoolSearch" as url %}
      <small class='form-text text-muted'>{% blocktrans with name=school.name%}Currently: {{ name }}. Find a different school <a href='{{ url }}'>here</a>.{% endblocktrans %}</small>
      <br>
    {% endif %}
    <button type='submit' id='submit_form_btn' class='btn btn-primary'>{% trans 'Save' %}</button>
  </form>
{% endblock %}