{% extends 'teacher/teacher_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block scripts %}
  {{ block.super }}
{% endblock %}

{% block title %}{% trans 'My Students' %}{% endblock %}

{% block body %}
  <h2>{% blocktrans with school=school.name %}Students at {{ school }}{% endblocktrans %}</h2>
  {% if students %}
    <p>{% blocktrans with code=school.student_code %}Click on a student to view their Showcase portfolio. Students can join your school by using <b>{{ code }}</b> as the school code, which they can enter this when they register, or by clicking on their name and going to Settings after registration.{% endblocktrans %}</p>
    <input class="form-control" id="studentSearch" type="text" placeholder="Search...">
    <br>
    <ul>
    {% for student in students %}
      <li><a href='https://showcaseedu.com/student/view/{{ student.user.username }}' target="_blank">{{ student.user.first_name }} {{ student.user.last_name }} ({{ student.user.username }})</a></li>
    {% endfor %}
    </ul>

    <script>
      $(document).ready(function(){
        $("#studentSearch").on("keyup", function() {
          const value = $(this).val().toLowerCase()
          $("li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          })
        })
      })
    </script> 
  {% else %}
    <p>{% blocktrans with name=school.name code=school.student_code %}There aren't any students on Showcase that have joined {{ name }} yet. Students can join your school by using <b>{{ code }}</b> as the school code, which they can enter this when they register, or by clicking on their name and going to Settings after registration.{% endblocktrans %}</p>
  {% endif %}
{% endblock %}