{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block scripts %}
  {{ block.super }}
  <script src='{% static "authentication/register.js" %}'></script>
{% endblock %}

{% block title %}{% trans 'Complete your registration' %}{% endblock %}

{% block body %}
<h2>{% trans 'Complete your registration' %}</h2>
<p>{% trans 'We need a little more information to get you started.' %}
<form action='{% url "authentication:social" %}' method='post' autocomplete='off' onsubmit='submit.disabled = true; return true;'>
  {% csrf_token %}
  {{ form|crispy }}
  <div class='text-center'>
    <button type='submit' name='submit' class='btn btn-primary'>{% trans 'Submit' %}</button>
  </div>
</form>
{% endblock %}