.masthead{
  min-height: 30rem;
  position: relative;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  min-width: 320px;
}

.headerTitle{
  font-size: 4em;
  color: #fff;
}

.headerSubtitle{
  font-size: 2em;
  color: #fff;
}

.btn-primary{
  margin: 10px;
}

#div_id_register-terms{
  font-size: .8em;
}