{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
  {% if validlink %}
    <h2>Change password</h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class='text-center'>
        <button class='btn btn-primary' type='submit'>Change password</button>
      </div>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used. Please request a new password reset link.
    </p>
  {% endif %}
{% endblock %}