container_commands:
  01_pip_upgrade:
    command:
    command: /opt/python/run/venv/bin/pip install --upgrade pip
    ignoreErrors: false
  02_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python3 manage.py createsu"
    leader_only: true
  04_creategroups:
    command: "source /opt/python/run/venv/bin/activate && python3 manage.py creategroups"
    leader_only: true
  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python3 manage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: portfolio.settings.production
