{% extends 'student/student_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block scripts %}
  {{ block.super }}
  <script src='{% static "student/add.js" %}'></script>
  <script src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js'></script>
  <script>
    window.previewUrl = '{% url "preview:index" %}';
  </script>
{% endblock %}

{% block title %}{% trans 'Add an Item' %}{% endblock %}

{% block body %}
<h2>{% trans 'Add an Item' %}</h2>
<form action='{% url "student:add" %}' method='post' autocomplete='off'>
  {% csrf_token %}
  {{ form|crispy }}
  <div id='previewDiv'></div>
  <button type='submit' class='btn btn-primary'>{% trans 'Submit' %}</button>
</form>
{% endblock %}