{% extends 'student/student_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block scripts %}
  {{ block.super }}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/TypeWatch/3.0.1/jquery.typewatch.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js'></script>
  <script src='{% static "preview/preview.js" %}'></script>
  <script src='{% static "student/card.js" %}'></script>
  <script src='{% static "student/add.js" %}'></script>
  <link rel='stylesheet' type='text/css' href='{% static "student/card.css" %}'>
  <script>
    window.previewUrl = '{% url "preview:index" %}'
    window.staticUrl = '{% static "" %}'
  </script>
{% endblock %}

{% block title %}{% trans 'Add an Item' %}{% endblock %}

{% block body %}
  {% for error in form.errors.photos %}
    <div class='alert alert-danger' role='alert'>{{ error }}</div>
  {% endfor %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id='photoSizeAlert'>
    {% trans 'One of the photos you chose is too large. Please try again, making sure each photo is less than 5MB.' %}
    <button type="button" class="close" id='hidePhotoSizeAlert' aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id='fileSizeAlert'>
      {% trans 'The file you chose is too large. Please try again, making sure your file is less than 2MB.' %}
      <button type="button" class="close" id='hideFileSizeAlert' aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <h2>{% trans 'Add an Item' %}</h2>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>
      <form id='add_form' action='{% url "student:add" %}' method='post' autocomplete='off' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form|crispy }}
        <button type='button' id='clear_form_btn' class='btn btn-primary'>{% trans 'Clear' %}</button>
        <button type='submit' id='submit_form_btn' disabled class='btn btn-primary'>{% trans 'Submit' %}</button>
        <br><br>
      </form>
    </div>
    <div class='col-lg-6 col-sm-12' id='previewDiv'></div>
  </div>
{% endblock %}

{% block handlebar %}
  {% verbatim %}
    <script id='hb_card' type="text/x-handlebars-template">
      <div class='card text-center'>
        {{#if image }}
          <img src='{{ image }}' class='card-img-top' onerror='linkImgError(this)' alt='Picture of {{ title }}'>
        {{else}}
          {{#if linkType}}<i class="fas fa-link item-icon"></i>{{/if}}
          {{#if fileType}}<i class="fas fa-file item-icon"></i>{{/if}}
        {{/if }}
        <div class='card-body text-left'>
          <h5 id='card_title' class='card-title'>{{ title }}</h5>
          <p id='card_description' class='card-text'>{{ description }}</p>
        </div>
        <div class='card-footer text-muted'>
          Added on {{ date }}
        </div>
      </div>
      <br>
    </script>
  {% endverbatim %}
{% endblock %}