{% load static %}
{% load i18n %}

<div class='card text-center mx-auto border-primary' id='card-{{ item.id }}'>
  <div style='position: relative'>
    {% if item.sub_item_type|stringformat:"s" == "link" %}
      <img src='{{ item.sub_item.image }}' class='card-img-top' alt='{% blocktrans %}Picture of {{ item.title }}{% endblocktrans %}'>
    {% elif item.sub_item_type|stringformat:"s" == "gallery" %}
      <img src='{{ item.sub_item.cover.image.url }}' class='card-img-top' alt='{% blocktrans %}Picture of {{ item.title }}{% endblocktrans %}'>
    {% endif %}
    <div class='card-body text-left'>
      <h5 id='card_title' class='card-title'>{{ item.title }}</h5>
      <p id='card_description' class='card-text'>{{ item.description }}</p>
    </div>

    {% if item.sub_item_type|stringformat:"s" == "link" %}
      <a href='{{ item.sub_item.url }}' target='_blank' class='stretched-link'></a>
    {% elif item.sub_item_type|stringformat:"s" == "gallery" %}
      <a href='{% url "student:gallery" item.id %}' class='stretched-link'></a>
    {% endif %}
  </div>

  <div class='card-footer text-muted text-left'>
    {% trans 'Added on ' %}{{ item.date_time_added|date }}
    <a href='#' class='removeLink' data-toggle='modal' data-target='#removeModal' data-item-title='{{ item.title }}' data-item-id='{{ item.id }}'>
        <i class='fas fa-trash-alt text-primary'></i>
    </a>
  </div>
</div>

<!-- Deletion modal -->
<div class='modal fade' id='removeModal' tabindex='-1' role='dialog' aria-labelledby='removeModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='removeModalLabel'>{% trans 'Remove ' %}<span id='modal-title-item'></span></h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        {% trans 'Are you sure you want to remove <span id="modal-body-item"></span> from your showcase? This action cannot be undone.' %}
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>{% trans 'Cancel' %}</button>
        <button type='button' class='btn btn-primary' id='removeButton'>{% trans 'Remove' %}</button>
      </div>
    </div>
  </div>
</div>