{% extends 'student/student_base.html' %}

{% load static %}
{% load i18n %}

{% block scripts %}
  {{ block.super }}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/TypeWatch/3.0.1/jquery.typewatch.min.js'></script>
  <script src='{% static "student/portfolio.js" %}'></script>
  <link rel='stylesheet' type='text/css' href='{% static "student/portfolio.css" %}'></style>
  <link rel='stylesheet' type='text/css' href='{% static "student/card.css" %}'></style>
{% endblock %}

{% block title %}{% trans 'My Portfolio' %}{% endblock %}

{% block body %}
  <h2>{{ name }}'s Portfolio</h2>
  <br>
  <div class="card-columns">
  {% for item in items %}
    {% include 'student/card.html' %}   
  {% endfor %}
  </div>
{% endblock %}