{% extends 'student/student_base.html' %}

{% load static %}
{% load i18n %}

{% block scripts %}
  {{ block.super }}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/TypeWatch/3.0.1/jquery.typewatch.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js'></script>
  <script src='{% static "student/card.js" %}'></script>
  <link rel='stylesheet' type='text/css' href='{% static "student/portfolio.css" %}'></style>
  <link rel='stylesheet' type='text/css' href='{% static "student/card.css" %}'></style>
  <script>
      window.removeUrl = '{% url "student:remove" %}';
  </script>
{% endblock %}

{% block title %}{% trans 'My Showcase' %}{% endblock %}

{% block body %}
  <div style='width: 100%'>
    <h2 style='display: inline;'>{% blocktrans %}{{ name }}'s Showcase{% endblocktrans %}</h2>
    <h3 style='float: right; position: relative'>
      <i class='fas fa-plus-circle text-primary'></i>&nbsp;{%trans 'Add&nbsp;item' %}
      <a href='{% url "student:add" %}' class='stretched-link'></a>
    </h3>
  </div> 
  <br>
  <div class='card-columns' style='width: 100%'>
  {% for item in items|dictsortreversed:'date_time_added' %}
    {% include 'student/card.html' %}   
  {% endfor %}
  </div>
  {% if items|length_is:'0' %}
    <h4 class='text-center'>Welcome to Showcase! Add something to your portfolio by <a href='{% url "student:add" %}'>clicking here</a>.</h4>
  {% endif %}
{% endblock %}