{% extends 'student/student_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block scripts %}
  {{ block.super }}
{% endblock %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block body %}
  <form id='settings_form' action='{% url "student:settings" %}' method='post' onsubmit='submit.disabled = true; return true;'>
    {% csrf_token %}
    {{ form|crispy }}
    {% if school %}
      <small class='form-text text-muted'>{% trans 'Currently: ' %}{{ school.name }}</small>
      <br>
    {% endif %}
    <button type='submit' name='submit' id='submit_form_btn' class='btn btn-primary'>{% trans 'Save' %}</button>
  </form>
{% endblock %}