{% extends 'student/student_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block scripts %}
  {{ block.super }}
{% endblock %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block body %}
  <form id='change_code_form' action='{% url "student:change_code" %}' method='post'>
    {% csrf_token %}
    <input type='text' aria-label="{% trans 'School code' %}" name='code'>
    <button type='submit' id='submit_form_btn' class='btn btn-primary'>{% trans 'Save' %}</button>
  </form>
{% endblock %}