{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block scripts %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.2.0/handlebars.min.js'></script>
  <script src='{% static "preview/preview.js" %}'></script>
  <script src='{% static "student/card.js" %}'></script>
{% endblock %}

{% block navlinks %}
  <a class="nav-item nav-link" href='{% url "student:portfolio" %}'>My portfolio</a>
  <a class="nav-item nav-link" href='{% url "student:add" %}'>Add item</a>
{% endblock %}