{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block scripts %}
  {{ block.super }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.js"></script>
  <link rel='stylesheet' type='text/css' href='{% static "student/portfolio.css" %}'>
  <link rel='stylesheet' type='text/css' href='{% static "student/card.css" %}'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.css">
{% endblock %}

{% block title %}{% blocktrans %}{{ name }}'s Showcase{% endblocktrans %}{% endblock %}

{% block body %}
  <h2>{% blocktrans %}{{ name }}'s Showcase{% endblocktrans %}</h2>
  <br>
  <div class='bricklayer' style='width: 100%'>
    {% for item in items|dictsortreversed:'date_time_added' %}
      {% if item.pinned %}
        {% include 'student/card.html' with view=True %}   
      {% endif %}
    {% endfor %}
    {% for item in items|dictsortreversed:'date_time_added' %}
      {% if not item.pinned %}
        {% include 'student/card.html' with view=True %}   
      {% endif %}
    {% endfor %}
  </div>
  {% if items|length_is:'0' %}
    <h4 class='text-center'>This Showcase is empty!</h4>
  {% endif %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
    })
  </script>
{% endblock %}