{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block scripts %}
  {{ block.super }}
  <link rel='stylesheet' type='text/css' href='{% static "student/portfolio.css" %}'>
  <link rel='stylesheet' type='text/css' href='{% static "student/card.css" %}'>
{% endblock %}

{% block title %}{% blocktrans %}{{ name }}'s Showcase{% endblocktrans %}{% endblock %}

{% block body %}
  <h2>{% blocktrans %}{{ name }}'s Showcase{% endblocktrans %}</h2>
  <br>
  <div class='card-columns' style='width: 100%'>
  {% for item in items|dictsortreversed:'date_time_added' %}
    {% include 'student/card.html' with view=True %}   
  {% endfor %}
  </div>
  {% if items|length_is:'0' %}
    <h4 class='text-center'>This Showcase is empty!</h4>
  {% endif %}
{% endblock %}