.card-img-top{
  max-height: 10rem;
  width: auto;
  max-width: 100%;
  padding: 5%;
  object-fit: contain;
}

.card{
  max-width: 24rem;
  margin-bottom: 10px;
}

.text-muted{
  font-size: .8rem;
}

.card-body{
  padding-top: 0;
}

.editItem, .pinCard, .removeLink{
  text-decoration: none !important;
  float: right;
  margin-left: 5px;
}

.item-icon{
  font-size: 3em;
  margin-top: 16px;
  margin-bottom: 16px;
}

.pinned{
  border-width:2px !important;
}

.card-img-top{
  image-orientation: from-image; 
}