.card-img-top{
  max-height: 10rem;
  width: auto;
  max-width: 100%;
  padding: 5%;
  object-fit: contain;
}

.card{
  max-width: 18rem;
}

.text-muted{
  font-size: .8rem;
}

.card-body{
  padding-top: 0;
}

.removeLink{
  text-decoration: none !important;
  float: right;
}

.item-icon{
  font-size: 3em;
  margin-top: 16px;
  margin-bottom: 16px;
}