/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .card-columns {
    column-count: 1;
  }
  h2, #add {
    display: block !important;
    text-align: center !important;
    float: none !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    column-count: 2;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .card-columns {
    column-count: 3;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {
    column-count: 4;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }
}

#lock{
  font-size: .6em;
  vertical-align: .1em;
  text-decoration: none !important;
}

#add{
  float: right; 
  position: relative;
  transform: translateY(.3em)
}