/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .card-columns {
    column-count: 1;
  }
  .bricklayer-column-sizer {
    width: 100%;
  }
  h2, #add {
    display: block !important;
    text-align: center !important;
    float: none !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .bricklayer-column-sizer {
    width: 25%;
  }
}

#lock{
  font-size: .6em;
  vertical-align: .1em;
  text-decoration: none !important;
}

#add{
  float: right; 
  position: relative;
  transform: translateY(.3em)
}