@media (max-width: 767.98px) {
  ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

@media (min-width: 770px) {
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}