
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #ddd;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$blue: #4582EC;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #fd7e14;
$yellow: #f0ad4e;
$green: #02B875;
$teal: #20c997;
$cyan: #17a2b8;
$primary: $blue;
$secondary: $gray-500;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$yiq-contrasted-threshold: 190;
$body-color: $gray-800;
$border-radius: .4rem;
$border-radius-lg: .6rem;
$border-radius-sm: .3rem;
$headings-font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-color: $gray-700;
$table-border-color: rgba(0,0,0,0.05);
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $secondary;
$input-border-color: rgba(0,0,0,.1);
$input-group-addon-bg: $gray-200  !default;
$navbar-dark-color: rgba($white,.6);
$navbar-dark-hover-color: $white;
$navbar-light-hover-color: $body-color;
$navbar-light-active-color: $body-color;
$pagination-color: $white;
$pagination-bg: $primary;
$pagination-border-color: $primary;
$pagination-hover-color: $white;
$pagination-hover-bg: $secondary;
$pagination-hover-border-color: $pagination-hover-bg;
$pagination-active-bg: $secondary;
$pagination-active-border-color: $pagination-active-bg;
$pagination-disabled-color: $white;
$pagination-disabled-bg: #CCE8E0;
$pagination-disabled-border-color: $pagination-disabled-bg;
$breadcrumb-bg: $primary;
$breadcrumb-divider-color: $white;
$breadcrumb-active-color: $breadcrumb-divider-color;