.navbar-nav .nav-link {
  padding-bottom: 0;
  }

.navbar-nav {
  align-self: flex-end;
  padding: 6px;
}

.nav-username {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-toggler{
  margin-top: 2px;
  margin-bottom: 2px;
}